/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

/* index.css หรือ globals.css */
@import "tailwindcss";

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    #4ac29a, 
    #bdfff3 
  );
}

.signin-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1px solid #a7f3d0; 
  padding: 24px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(74, 194, 154, 0.25); 
  min-width: 280px;
}

.signin-box h1 {
  margin-bottom: 12px;
  color: #0d9488;
  font-size: 1.5rem;
  font-weight: 600;
}

input {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #99f6e4; 
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: #14b8a6;
  box-shadow: 0 0 6px rgba(20, 184, 166, 0.4);
}

.signin-box button {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #14b8a6; 
  border: 1px solid #14b8a6;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.signin-box button:hover {
  background-color: #0d9488;
  border-color: #0d9488;
}
